<nav class="navbar navbar-inverse navbar-lower" data-spy="affix"  data-offset-top="50"data-offset-bottom="50">
	<%= render 'calendar/dropdown' %>
	<div class="row text-center">
		<div id="menu-dropdown-button"><span class="glyphicon glyphicon-collapse-down"></span></div>
	</div>
</nav>

