<div class="navbar-outer">
	<nav class="navbar navbar-lower" data-spy="affix"  data-offset-top="25"data-offset-bottom="50">
		<%= render 'calendar/dropdown' %>
		<div class="container">
			<div class="row text-center">
				<div id="menu-dropdown-button">
					<span class="glyphicon glyphicon-collapse-down"></span>
				</div>
			</div>
		</div>
	</nav>
</div>

