<div class="about-box hidden <%= (@view == "calendar" || @view == "day") ? 'selected' : '' %> "data-spy="affix" data-offset-top="75">
    <div class="about-box-header">
      <div class="event-title vcenter"></div>
    </div>
    <div class="event-map">
    </div>
    <hr>
    <div class="about-box-desc">
      <span class="event-desc"></span>
    </div>
    <hr>
    <div class="about-box-more">
      <a class="calendar-more-info-button" href="#"><span class="calendar-add-button">More Info</span></a>
    </div>
</div>