<div class="about-box vcenter">
    <div class="about-box-header">
      <div class="event-title vcenter"></div>
    </div>

    <div class="about-box-map"></div>

    <div class="about-box-desc">
      <div class="about-box-time">
        <span class="event-time">
      </div>
      <br>
      <span class="event-desc"></span>
      <div class="about-box-date">
        <span class="event-date">
      </div>

    </div>
    <div class="about-box-more">
        <a class="btn btn-default event-url" href="">More Info: </a>
        <a class="btn btn-info event-enrollment" href="">I'm Going!</a>
    </div>
</div>