<div class="row text-center options-row">
    <a href="/events?view=calendar&date=<%= @date%>">
	    <div class="header-option vcenter">
	      		<span class="glyphicon glyphicon-calendar"></span>
	    </div>
    </a>
   	<a href="/events?view=map&date=<%= @date%>">
	    <div class="header-option vcenter">
      		<span class="glyphicon glyphicon-map-marker"></span>
    	</div>
    </a>
   	<a href="/events?view=day&date=<%= @date%>">
    	<div class="header-option vcenter">
     		<span class="glyphicon glyphicon-th-large"></span>
    	</div>
    </a>
</div>