<div class="view-type hidden <%= @view == 'day' ? 'selected' : '' %> ">
	<div class="row text-center">
		<h2>Events happening on <%= @date %> </h2>
		<hr>
	</div>
	<div class="row">
		  <% @events.each do |event| %>
		  	<div class="col-md-4 well">
		    <li class="event-link" ><%= link_to h(event.title), event_path(event.id), :id => event.id %></li>
			</div>
		  <% end %>
	</div>
</div>
