<div class="about-box hidden <%= @view == 'map' ? 'selected' : '' %> "data-spy="affix" data-offset-top="75">
    <div class="about-box-header">
      <div class="event-title vcenter"></div>
    </div>

    <div class="event-icon">

    </div>

</div>