<%# navigation styled for Bootstrap 3.0 %>
  <nav class="navbar navbar-top navbar-inverse navbar-fixed-top" role="navigation">
  	<div class="container-fluid">
  		<div class="header">
  			<div class="row">
  				<div class="col-md-4">
            <%= link_to root_path do %>
    				  <img class= "logo" src="/img/logo.jpg"></img>
            <% end %>
  				</div>
          <div class="col-md-4">
            <%= render 'layouts/messages' %>
          </div>
  				<div class="col-md-3 navbar-menu ">
  					<div class="row text-center">
			      		<ul class="nav navbar-nav">
			        		<%= render 'layouts/navigation_links' %>
			      		</ul>
			      	</div>
  				</div>
    		</div>
    	</div>
    </div>
  </nav>




